#root, html{
  background-color: #131313;
  
}

/*Markdown Styling*/

.markdown-output ul {
  list-style-type: disc; 
  margin-left: 20px; 
  color: #000; 
}

.markdown-output ol {
  list-style-type: decimal; 
  margin-left: 20px; 
  color: #000; 
}

.markdown-output li {
  color: #000; 
}

.markdown-output h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-output h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-output h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-output h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-output h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-output h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-output a {
  color: blue;
  text-decoration: underline;
  transition: color 0.3s;
}

.markdown-output a:hover {
  color: darkblue;
  text-decoration: none;
}